@model ReadPostViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<div class="discussion-container">
    <div class="discussion-title">
        <h3 class="text-white">@Model.SubCategoryName</h3>
    </div>
    <div class="discussion-content">

        @*Start of Modal form*@
        @{
            if (!this.User.Identity.IsAuthenticated)
            {
                <input type="button" class="btn btn-primary btn-comment" data-toggle="modal" data-target="#WriteCommentModal" value="Write Comment" disabled />
            }
            else
            {
                <input type="button" class="btn btn-primary btn-comment" data-toggle="modal" data-target="#WriteCommentModal" value="Write Comment" />

            }

            var userId = UserManager.GetUserId(User);

            if (userId == Model.CreatorId)
            {
                <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteModal">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            }
        }

        <form method="post" asp-controller="Comment" asp-action="CreateComment">

            <div id="WriteCommentModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Customer Details Form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Comment:</label>
                                <input type="text" class="form-control" asp-for="@Model.CreateCommentViewModel.Contents" />
                                <span asp-validation-for="@Model.CreateCommentViewModel.Contents" />
                            </div>
                            <input type="hidden" asp-for="@Model.CreateCommentViewModel.PublishedOn" value="@DateTime.UtcNow" />
                            <input type="hidden" asp-for="@Model.CreateCommentViewModel.SubCategory" value="@Model.SubCategoryName" />
                            <input type="hidden" asp-for="@Model.CreateCommentViewModel.SubCategoryId" value="@Model.SubCategoryId" />
                            <input type="hidden" asp-for="@Model.CreateCommentViewModel.PostId" value="@Model.Id" />
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Publish Post</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        @*End of Modal form*@


        <div class="discussion-post">
            <p class="text-white">@Model.Title</p>
            <p class="text-white">@Model.Contents</p>
            <p class="text-white published">Published by: @Model.Creator</p>
            <p class="text-white published">Published on: @Model.PublishedOn.ToLocalTime()</p>
        </div>

        <div class="discussion-comment-container">
            @foreach (var comment in Model.Comments)
            {
                if (userId == Model.CreatorId)
                {  //DELETE Comment
            <h1>@comment.Id</h1>
                   
                        <span class="btn-delete" id="confirm-delete-span-@comment.Id" style="display: none">
                            <span>Are you sure you want to <b>Delete</b> your Comment?</span>
                            <a href="/Comment/Delete/?commentId=@comment.Id" class="btn btn-danger">Yes</a>
                            <a href="#" class="btn btn-primary" onclick="confirmDelete(@comment.Id, false)">No</a>
                        </span>
                        <button id="delete-@comment.Id" type="button" class="btn btn-danger btn-delete" onclick="confirmDelete(@comment.Id, true)">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                   
                }
                @if (this.User.Identity.IsAuthenticated)
                {
                    <input id="write-answer-@comment.Id" type="button" class="btn btn-primary btn-answer comment-details-answerBtn " data-toggle="modal" data-target="#WriteAnswerModal-@comment.Id" value="Answer" />
                }
                else
                {
                    <input id="write-answer-@comment.Id" type="button" class="btn btn-primary btn-answer comment-details-answerBtn " data-toggle="modal" data-target="#WriteAnswerModal" value="Answer" disabled />
                }
                <button id="answers-button-@comment.Id" onclick="ShowAnswers(@comment.Id)" class="btn btn-primary show-answers">Show Answers</button>
                <div class="discussion-comment">
                    <p class="text-white">@comment.Contents</p>
                    <div class="comment-details">
                        <div class="comment-details-published">
                            <p class="text-white published">Published by: @comment.Creator</p>
                            <p class="text-white published">Published on: @comment.PublishedOn.ToLocalTime()</p>
                            <p class="text-white published">Answers: @comment.Answers.Count</p>
                            <p class="text-white published">Comment ID: @comment.Id</p>
                        </div>

                        <form method="post" asp-controller="Comment" asp-action="CreateAnswer">
                            <div id="WriteAnswerModal-@comment.Id" class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Write Answer</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Answer:</label>
                                                <input type="text" class="form-control" asp-for="@Model.CreateCommentViewModel.Contents" rows="5" />
                                                <span asp-validation-for="@Model.CreateCommentViewModel.Contents" />
                                            </div>

                                            <input type="hidden" asp-for="@Model.CreateCommentViewModel.PublishedOn" value="@DateTime.UtcNow" />
                                            <input type="hidden" asp-for="@Model.CreateCommentViewModel.SubCategory" value="@Model.SubCategoryName" />
                                            <input type="hidden" asp-for="@Model.CreateCommentViewModel.SubCategoryId" value="@Model.SubCategoryId" />
                                            <input type="hidden" asp-for="@Model.CreateCommentViewModel.PostId" value="@Model.Id" />
                                            <input type="hidden" asp-for="@Model.CreateCommentViewModel.IsAnswer" value="true" />

                                            @*Problem to pass*@
                                            @*<input type="hidden" onclick="location.href='@Url.Action("Comment", "CreateAnswer", new { commentId = comment.Id })'" />*@
                                            @*<input type="hidden" asp-for="Id" />*@
                                            <input type="hidden" asp-for="Id" value="@comment.Id" />
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Publish Answer</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
                @if (comment.Answers.Any())
                {
                    <div id="answers-@comment.Id" style="display:none" class="discussion-answer-container">
                        @foreach (var answer in comment.Answers)
                        {
                            <div class="discussion-answer">
                                <p class="text-white">@answer.Contents</p>
                                <div class="comment-details">
                                    <div class="comment-details-published">
                                        <p class="text-white published">Published by: @answer.CreatorName</p>
                                        <p class="text-white published">Published on: @answer.PublishedOn.ToLocalTime()</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            }

        </div>
    </div>
</div>

<partial name="_DeletePostModal" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function ShowAnswers(commentId) {
            var x = document.getElementById("answers-" + commentId);
            var button = document.getElementById("answers-button-" + commentId);

            if (x.style.display === "none") {
                x.style.display = "block";
                button.innerHTML = "Hide Answers";
            } else {
                x.style.display = "none";
                button.innerHTML = "Show Answers";
            }
        }
    </script>

    <script>
        function confirmDelete(commentId, isDeleteClicked) {

            var confirmDeleteSpan = "confirm-delete-span-" + commentId;
            var deleteSpan = "delete-" + commentId;
            var showAnswersButton = 'answers-button-' + commentId;
            var writeAnswerButton = 'write-answer-' + commentId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + showAnswersButton).hide();
                $('#' + writeAnswerButton).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + confirmDeleteSpan).hide();
                $('#' + showAnswersButton).show();
                $('#' + writeAnswerButton).show();
                $('#' + deleteSpan).show();
            }
        }
    </script>
}

