@model ReadPostViewModel

<div class="discussion-container">
    <div class="discussion-title">
        <h3 class="text-white">@Model.SubCategoryName</h3>
    </div>
    <div class="discussion-content">
        @*Start of Modal form*@
        <input type="button" class="btn btn-primary btn-comment" data-toggle="modal" data-target="#exampleModal" value="Write Comment" />

        <form method="post" asp-controller="Comment" asp-action="Create">
            <div id="exampleModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Customer Details Form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Comment:</label>
                                <input type="text" class="form-control" asp-for="@Model.CreateCommentViewModel.Contents" />
                                <span asp-validation-for="@Model.CreateCommentViewModel.Contents" />
                            </div>

                            <input type="hidden" asp-for="@Model.CreateCommentViewModel.PublishedOn" value="@DateTime.UtcNow" />
                            <input type="hidden" asp-for="@Model.CreateCommentViewModel.SubCategory" value="@Model.SubCategoryName" />
                            <input type="hidden" asp-for="@Model.CreateCommentViewModel.SubCategoryId" value="@Model.SubCategoryId" />
                            <input type="hidden" asp-for="@Model.CreateCommentViewModel.PostId" value="@Model.Id" />
                           
                           
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Publish Post</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        @*End of Modal form*@


        <div class="discussion-post">
            <p class="text-white">@Model.Title</p>
            <p class="text-white">@Model.Contents</p>
            <p class="text-white published">Published by: @Model.Creator</p>
            <p class="text-white published">Published on: @Model.PublishedOn</p>
        </div>

        <div class="discussion-comment-container">
            @foreach (var comment in Model.Comments)
            {
                <div class="discussion-comment">
                    <p class="text-white">@comment.Contents</p>
                    <p class="text-white">@comment.Creator</p>
                    <p class="text-white">@comment.PublishedOn</p>
                </div>
            }
        </div>


    </div>
</div>
@*<partial name="_PartialModalCommentForm" for="CreateCommentViewModel" />*@
<partial name="_ValidationScriptsPartial" />